@media (max-width:655px){
    html{
        body{
            main{
                display: grid;
                grid-template-columns: auto;
                .salama_left{
                    background:white;
                    height:fit-content;
                    .buttons{
                        display: none;
                    }
                    #icon_menu{
                        display: block;
                    }
                }
            }
            // ----------------------------------part two-------------------------------
            .salama_right{
                background:rgb(242, 240, 240);
                height:120vh;
                header{
                    display: none;
                    }
                    .titre{
                        display: none;
                        
                    }
            }
            .identinte{
                background:white;
                width: 90%;
                height: 480px;
                margin-left: auto;
                margin-right: auto;
                box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.118);
                margin-top: 50px;
                
                .profil_nav{
                    
                    
                    margin-left: auto;
                    margin-right: auto;
                    width:80%;
                    display:flex;
                    gap: 10px;
                    text-align:left;
                   nav{
                    text-align: justify;
                    margin-top: 50px;
                   }
                    p{
                        color: gray;
                    }
                    img{
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        border-radius: 5px;
                        margin-top: 25px;
                        
                    }
                }
            }
            
        }
    }
   
}
